<div class="page-container">
    <app-header></app-header>
<div class="progress-container">
    <div class="progress-bar" [ngStyle]="{width: progress + '%'}"></div>
</div>
</div>
<!-- Offer section -->
<section class="home-section">
    <div class="discount-bar-container">
      <div class="discount-bar-text">
        *Flat! 25% discount for orders of above 500* &nbsp;&nbsp;&nbsp;*Flat! 25% discount for orders of above 500*&nbsp;&nbsp;&nbsp;*Flat! 25% discount for orders of above 500*  
      </div>
    </div>
  </section>
  
<router-outlet></router-outlet>
<app-footer></app-footer>
