.signup-container {
    background: linear-gradient(to bottom right, #fffde7, #ffe082);
    min-height: 100vh;
    padding: 2rem;
  }
  input.ng-invalid.ng-touched {
    border-color: red;
  }  
  
  .card {
    border-radius: 1rem;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  button:hover {
    background-color: #ffc107;
    transition: 0.3s ease;
  }
  